@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: #fff;
}

/* Transparent lúc đầu */
.transparent-header {
    background-color: transparent;
    color: black;
}

/* Khi scroll xuống */
.scrolled {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    color: #222;
    text-shadow: none;
}

/* Main menu */
.menu-desktop {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-menu {
    list-style-type: none;
    margin: 0;
    display: flex;
    align-items: center;
}

.main-menu>li {
    display: block;
    position: relative;
    padding: 15px 10px 15px 0px;
    margin: 0px 4px 0px 14px;
}

.main-menu>li>a {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    padding: 5px 0px;
    transition: all 0.4s;
    font-family: "Open Sans", sans-serif;
}

.main-menu>li:hover>a {
    color: #6c7ae0;
    text-decoration: underlines;
}

/* Sub menu */
.sub-menu {
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 178px;
    max-width: 225px;
    background-color: #fff;
    transition: all 0.4s;
    padding: 5px 0;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
}

.main-menu>li>.sub-menu {
    top: 100%;
    left: 0;
}

.sub-menu a {
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    display: block;
    padding: 8px 20px;
    width: 100%;
    transition: all 0.4s;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

.main-menu>li:hover>.sub-menu,
.sub-menu li:hover>.sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu>li:hover>a {
    color: #6c7ae0;
    text-decoration: none;
}

.menu-link {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu-link:hover,
.menu-link.active {
    color: #6c7ae0;
    text-decoration: underline;
}

.icon-group a {
    text-decoration: none;
}
.btn-search {
    background-color: transparent;
    border: none;
}
.search-modal {
	padding: 20px 15px;
}

.search-modal h4 {
	margin-bottom: 20px;
	font-size: 20px;
	color: #333;
}

.form-input {
	display: flex;
	align-items: center;
	border: 1px solid #333;
	border-radius: 5px;
}

.form-input input {
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 16px;
	padding: 8px 10px;
	width: 100%;
}

.form-input i {
	color: #555;
	padding-left: 10px;
}

/* Products */
.product-search-list {
	margin-top: 15px;
	width: 100%;
	overflow-y: auto;
	max-height: 400px;
	overflow-y: auto;
}

.product-search-list h3 {
	padding: 8px 20px;
}

.product-search-item {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 8px 20px;
	height: 100px;
}

.product-search-item:hover {
	background-color: #ddd;
}

.product-search-item img {
	width: 50px;
	object-fit: cover;
	object-position: center;
	margin-right: 20px;
}

.product-search-item h4 {
	font-size: 15px;
	color: #333;
	margin-bottom: 15px;
	font-weight: 600;
}

