<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Footer -->
    <footer class="w-100 py-5 footer">
      <div class="container">
        <div class="row d-flex justify-content-between">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Danh mục</h3>
            <div class="d-flex flex-column">
                <a href="#" class="block-6 text-decoration-none promo">
                Category 1
            </a>
            <a href="#" class="block-6 text-decoration-none promo">
                Category 1
            </a>
            <a href="#" class="block-6 text-decoration-none promo">
                Category 1
            </a>
            </div>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Truy cập nhanh</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Thông tin lên hệ</h3>
              <ul class="list-unstyled">
                <li class="address"><em><strong>Địa chỉ: </strong></em>Trường Cao Đẳng FPT Polytechnic, Thái Nguyên</li>
                <li class="phone"><em><strong>SĐT: </strong></em>0968118923</li>
                <li class="email"><em><strong>Email: </strong></em>ngochtpt00025@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
</body>
</html>