<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
</head>

<body>
  <header id="main-header" class="menu-toggle transparent-header py-3">
    <div class="container d-flex align-items-center justify-content-between">
      <!-- Logo -->
      <a href="/" class="logo fw-bold fs-4 text-dark text-decoration-none">
        <span style="color:#7f00ff;">TEE</span>
        <span style="color:#000000;">SHIRT</span>
        <span style="color:#666;">VIBE</span>
      </a>

      <!-- Menu desktop -->
      <ul class="main-menu d-flex mb-0 list-unstyled align-items-center">
        <li class="me-4"><a href="/" class="menu-link">Home</a></li>
        <li class="me-4">
          <a href="/product" class="menu-link">Shop</a>
          <ul class="sub-menu">
            <li><a href="" class="menu-link">T-Shirts</a></li>
            <li><a href="" class="menu-link">Hoodies</a></li>
            <li><a href="" class="menu-link">Accessories</a></li>
          </ul>
        </li>
        <li class="me-4 position-relative">
          <a href="" class="menu-link">Features</a>
        </li>
        <li class="me-4"><a href="" class="menu-link">Blog</a></li>
        <li class="me-4"><a href="" class="menu-link">About</a></li>
        <li><a href="" class="menu-link">Contact</a></li>
      </ul>

      <!-- Icons -->
      <div class="icon-group d-flex align-items-center">
        <div class="position-relative me-3">
          <button class="btn-search" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fas fa-search fs-5"></i>
          </button>
        </div>
        <a href="#" class="text-dark position-relative me-3">
          <i class="fas fa-heart fs-5"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">0</span>
        </a>
        <a href="#" class="text-dark position-relative me-3">
          <i class="fa-solid fa-user fs-5"></i>
        </a>
        <a href="#" class="text-dark position-relative ">
          <i class="fas fa-shopping-cart fs-5"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">2</span>
        </a>
      </div>
    </div>
  </header>
  <!-- ModalSearch -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-3">
        <div class="search-modal">
          <h4 class="title">Tìm kiếm sản phẩm</h4>
          <div class="form-input">
            <i class="fas fa-search"></i>
            <input type="text" id="filter" placeholder="Tìm sản phẩm mong muốn..." />
          </div>
        </div>

        <div class="product-search-list">
          <div>
            <h3>Loading...</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    window.addEventListener('scroll', function () {
      const header = document.getElementById('main-header');
      if (window.scrollY > 50) {
        header.classList.add('scrolled');
        header.classList.remove('transparent-header');
      } else {
        header.classList.remove('scrolled');
        header.classList.add('transparent-header');
      }
    });
    const products = document.querySelector('.product-search-list')
    const filter = document.getElementById('filter')
    const listItems = []
    document.querySelector('.btn-search').addEventListener('click', () => {
      getData()
    })
    filter.addEventListener('input', (e) => filterData(e.target.value))

    async function getData() {
      const res = await fetch('https://fakestoreapi.com/products')

      const results = await res.json()
 
      // Clear products
      products.innerHTML = ''

      results.forEach((product) => {
        const div = document.createElement('div')
        div.setAttribute('class', 'product-search-item')
        listItems.push(div)

        div.innerHTML = `
			<img src="${product.image}" alt="">
			<div class="product-search-item-detail">
				<h4>${product.title.slice(0, 30)}</h4>
				<p>$${product.price}</p>
			</div>
        `
        products.appendChild(div)
      })
    }

    function filterData(search) {
      listItems.forEach((item) => {
        if (item.innerText.toLowerCase().includes(search.toLowerCase())) {
          item.classList.remove('hide')
        } else {
          item.classList.add('hide')
        }
      })
    }
  </script>
</body>

</html>